body { margin: 0; font-family: jaini purva, jaini purva; background: #6F96D1; }

.navbar {
    padding: 30px 55px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    color: white;
}

.navbar-header {
    font-size: 30px; 
    padding-left: 30px
}

.navbar-menu {
    font-size: 25px; 
    margin-left: 500px;
    align-items: center; 
    Justify-content: space-between;
    color: white;
}

.navbar-menu a {
    padding: 8px 12px; 
    text-align: right; 
    align-items: center; 
    text-decoration: none; 
    color: white;
}

.navbar-menu a:hover {border-radius: 5px; background-color: #D0E4FF;}

.social-icon { 
    display: flex;
    gap: 25px; 
    text-decoration: none;
} 
 
.social-icon i { 
    font-size: 25px; 
    color: #fff;  
} 

.horizontal-line {
    width: 100%;
    height: 2px;
    margin-bottom: 15px;
    background-color: white;
}

.horizontal-line2 {
    width: 100%;
    height: 2px;
    margin-top: -10px;
    background-color: white;
}

.Profile { 
    padding: 50px; 
    text-align: center; 
}

.Profile h1 {
    font-size: 48px;
    font-weight: bold; 
    color: white; 
}

.Profile h2 {
    font-size: 24px; 
    color: white; 
}

.Profile h3 {
    font-size: 20px; 
    color: white;  
}

.outer-box {
    width: autopx; 
    height: 500px;
    padding: 20px 20px;
    border-radius: 45px;
    position: relative;
    transform: scale(0.8); background-color: #D0E4FF;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
  
.outer-box h3 {
    font-size: 39px; 
    font-weight: bold;
    text-align: right; 
    align-items: center; 
    margin-right: 157px; 
    margin-top: -3px;
    color: #6F96D1;
}

.outer-box p {
    font-size: 23px; 
    text-align: left;
    margin-right: 120px; 
    margin-top: 79px;
    letter-spacing: 1px; 
    float: right;
    color:#6F96D1;
}

.horizontal-linebox {
    height: 2px; 
    width: autopx;
    margin-top: -10px;
    text-align: center;
    background-color: white;
}
  
.inner-box {
    width: 395px;
    height: 300px;
    margin-left: 55px; 
    margin-top: 75px;
    display: flex;
    border-radius: 0;
    align-items: center; justify-content: center;
    background-color: #6F96D1; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.inner-box img {    
    width: 375px; 
    height: 275px;
    border-radius: 0; 
    display: flex;
    align-items: center; justify-content: center;
}

.box-cv { 
    margin-right: -80px;
    top: 900px; 
    right: 300px;
    position: absolute;
}
  
.download-cv {
    padding: 10px 20px; 
    top: 300px; 
    right: 200px;
    font-weight: bold; font-size: 14px;
    text-align: center; text-decoration: none;
    color: white; background-color: #6F96D1; 
}
  
.download-cv:hover {box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);}

.skills-box {
    width: autopx; 
    height: 490px;
    padding: 20px;
    border-radius: 70px;
    background-color: #D9EAFD;
}

.skills-header {
    font-size: 28px; font-weight: bold;
    margin-left: 50px; 
    margin-bottom: 20px;
    text-align: left;
    color: #5B73A8;
}

.horizontal-lineskill {
    height: 2px; 
    margin-bottom: 20px; 
    background-color: white; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.skills-icon {
    gap: 80px 20px; 
    padding-top: 30px;
    display: grid; justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.skill-item {
    width: 130px; 
    height: 130px;
    border-radius: 50%; display: flex;
    justify-content: center; align-items: center;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item:hover {
    transform: scale(1.1); box-shadow: 0px 8px 12px #5d0b48;
}

.skill-item img {
    width: 77px; 
    height: 80px;
    display: flex;
    align-items: center; justify-content: center;
}

.project {
    height: 50vh;
    display: flex;
    text-align: center; 
    align-items: center; justify-content: center;
    background-color: #6F96D1; 
}

.bagian-project h1 {font-size: 48px; font-family: 'Georgia', serif; color: white;}

.bagian-project p {
    font-size: 16px; 
    opacity: 0.8;
    color: white;
}

.project-number1 {
    gap: 15px; 
    align-items: center; display: flex;
}

.number1 {
    width: 50px; height: 50px;
    margin-left: 50px;
    display: flex; border-radius: 50%;
    align-items: center; justify-content: center;
    font-size: 18px; font-weight: bold;
    background-color: white; color: #6D9EEB; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-number1 {
    font-size: 25px; font-weight: bold;
    color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.container-box1 {display: flex;}

.box-large {
    width: 276px; 
    height: 570px;
    margin-top: -20px;
    display: flex; border-radius: 20px;
    position: relative; transform: scale(0.8);
    background-color: #D0E4FF; box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.box-large img {    
    width: 228px; height: 520px;
    margin-left: 23px; margin-top: 24px;
    display: flex; border-radius: 20px; 
    align-items: center; justify-content: center;
}

.box-small {
    width: 255px; height: 480px;
    margin-top: 30px; margin-left: -30px;
    border-radius: 20px;
    background-color: #D0E4FF; box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); transform: scale(0.8);
}

.box-small img {    
    width: 207px; height: 430px;
    margin-left: 23px; margin-top: 24px;
    border-radius: 10px; 
    align-items: center; justify-content: center;
}

.download-project { 
    right: 355px; margin-top: 140px;
    position: absolute;
}

.download-project:hover {
    box-shadow: 8px 8px 16px #5B73A8, -8px -8px 16px #5B73A8; /* Bayangan lebih kecil */
    transform: scale(0.98); /* Sedikit mengecilkan tombol */
}

.seeproject{
    padding: 10px 20px; border-radius: 10px;
    cursor: pointer; display: inline-block;
    text-align: center; text-decoration: none;
    font-size: 14px; font-weight: bold; 
    background-color: #D0E4FF; color: #6F96D1; 
    transition: background-color all 0.3s ease; 
    box-shadow: 4px 4px 8px #5B73A8, -4px -4px 8px #5B73A8;
}

.container-box1 p {
    margin-left: 80px; margin-top: 200px;
    font-size: 22px; font-family: Poppins;
    letter-spacing: 1px; float: right;
    text-align: left;
    color:#ffff;
}

.project-number2 {
    gap: 15px; 
    align-items: center;
    display: flex; justify-content: flex-end;
}

.header-number2 {
    font-size: 25px; font-weight: bold;
    color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.number2 {
    width: 50px; height: 50px;
    margin-right: 30px;
    border-radius: 50%;
    display: flex;
    font-weight: bold; font-size: 18px;
    align-items: center; justify-content: center;
    color: #6D9EEB; background-color: white; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container-box2 {
    padding: 20px;
    display: flex; 
    justify-content: space-between; align-items: flex-start;
}

.container-box2 p {
    margin-left: 40px; margin-top: 170px;
    text-align: left;
    letter-spacing: 1px; float: right;
    font-size: 22px; font-family: Poppins;
    color:#ffff;
}

.bagian-box2 {display: flex; gap: 25px;}

.box2-large {
    width: 230px; height: 465px;
    margin-top: 10px; margin-right: 17px;
    border-radius: 20px;
    background-color: #D0E4FF; box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.box2-large img {    
    width: 182px; height: 415px;
    margin-left: 23px; margin-top: 24px;
    display: flex;
    border-radius: 20px; 
    align-items: center; justify-content: center;
}

.box2-small {
    width: 220px; height: 415px;
    margin-top: 40px; border-radius: 20px;
    background-color: #D0E4FF; box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.box2-small img {    
    width: 180px; height: 370px;
    margin-left: 20px; margin-top: 24px;
    border-radius: 10px; align-items: center;
}

.download-project2 { 
    right: 860px; margin-top: 110px;
    position: absolute;
}

.download-project2:hover {
    box-shadow: 8px 8px 16px #5B73A8, -8px -8px 16px #5B73A8; /* Bayangan lebih kecil */
    transform: scale(0.98); /* Sedikit mengecilkan tombol */
}

.seeproject2{
    padding: 10px 20px;  border-radius: 10px;
    text-align: center;
    font-size: 14px; font-weight: bold; text-decoration: none;
    cursor: pointer; display: inline-block;
    color: #6F96D1; background-color: #D0E4FF; 
    transition: background-color all 0.3s ease; box-shadow: 4px 4px 8px #5B73A8, -4px -4px 8px #5B73A8;
}

.project-number3 {
    gap: 15px; 
    align-items: center; display: flex;
}

.number3 {
    width: 50px; height: 50px;
    margin-left: 50px;
    display: flex; border-radius: 50%;
    align-items: center; justify-content: center;
    font-size: 18px; font-weight: bold;
    background-color: white; color: #6D9EEB; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-number3 {
    font-size: 25px; font-weight: bold;
    color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.container-box3 {display: flex; /* Membuat box sejajar (berdampingan) */}

.box3-large {
    width: 276px; height: 570px;
    margin-top: -20px;
    display: flex; border-radius: 20px;
    position: relative; transform: scale(0.8);
    background-color: #D0E4FF; box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.box3-large img {    
    width: 228px; height: 520px;
    margin-left: 23px; margin-top: 24px;
    display: flex; border-radius: 20px; 
    align-items: center; justify-content: center;
}

.box3-small {
    width: 255px; height: 480px;
    margin-top: 30px; margin-left: -30px;
    border-radius: 20px;
    background-color: #D0E4FF; box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); transform: scale(0.8);
}

.box3-small img {    
    width: 207px; height: 430px;
    margin-left: 23px; margin-top: 24px;
    border-radius: 10px; 
    align-items: center; justify-content: center;
}

.download-project3 { 
    right: 355px; margin-top: 140px;
    position: absolute;
}

.download-project3:hover {
    box-shadow: 8px 8px 16px #5B73A8, -8px -8px 16px #5B73A8; /* Bayangan lebih kecil */
    transform: scale(0.98); /* Sedikit mengecilkan tombol */
}

.seeproject3{
    padding: 10px 20px; border-radius: 10px;
    cursor: pointer; display: inline-block;
    text-align: center; text-decoration: none;
    font-size: 14px; font-weight: bold; 
    background-color: #D0E4FF; color: #6F96D1; transition: background-color all 0.3s ease; 
    box-shadow: 4px 4px 8px #5B73A8, -4px -4px 8px #5B73A8;
}

.container-box3 p {
    margin-left: 80px; margin-top: 200px;
    font-size: 22px; font-family: Poppins;
    text-align: left; letter-spacing: 1px; float: right;
    color:#ffff;
}

.project-number4 {
    gap: 15px; align-items: center;
    display: flex; justify-content: flex-end;
}

.header-number4 {
    font-size: 25px; font-weight: bold;
    color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.number4 {
    width: 50px; height: 50px;
    margin-right: 30px;
    border-radius: 50%; display: flex;
    font-weight: bold; font-size: 18px;
    align-items: center; justify-content: center;
    color: #6D9EEB; background-color: white; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container-box4 {
    padding: 20px;
    display: flex; align-items: flex-start;
    justify-content: space-between; 
}

.container-box4 p {
    margin-left: 40px; margin-top: 170px;
    text-align: left; letter-spacing: 1px; float: right;
    font-size: 22px; font-family: Poppins;
    color:#ffff;
}

.bagian-box4 {display: flex; gap: 25px;}

.box4-large {
    width: 230px; height: 465px;
    margin-top: 10px; margin-right: 17px;
    border-radius: 20px;
    background-color: #D0E4FF; box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.box4-large img {    
    width: 182px; height: 415px;
    margin-left: 23px; margin-top: 24px;
    display: flex; border-radius: 20px; 
    align-items: center; justify-content: center;
}

.box4-small {
    width: 220px; height: 415px;
    margin-top: 40px; border-radius: 20px;
    background-color: #D0E4FF; box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.box4-small img {    
    width: 180px; height: 370px;
    margin-left: 20px; margin-top: 24px;
    border-radius: 10px; align-items: center;
}

.download-project4 { 
    right: 860px; margin-top: 110px;
    position: absolute;
}

.download-project4:hover {
    box-shadow: 8px 8px 16px #5B73A8, -8px -8px 16px #5B73A8; /* Bayangan lebih kecil */
    transform: scale(0.98); /* Sedikit mengecilkan tombol */
}

.seeproject4{
    padding: 10px 20px; 
    border-radius: 10px;  text-align: center;
    font-size: 14px;  font-weight: bold; text-decoration: none;
    cursor: pointer;  display: inline-block;
    color: #6F96D1;  background-color: #D0E4FF; 
    transition: background-color all 0.3s ease; 
    box-shadow: 4px 4px 8px #5B73A8, -4px -4px 8px #5B73A8;
}

.box-saran{
    width: autopx; height: 450px;
    padding: 50px 20px;  border-radius: 40px; 
    flex-direction: column;  position: relative;
    transform: scale(0.8); background-color: #D0E4FF;
}

.email-contact {
    gap: 3rem;
    display: grid; align-items: center;
    grid-template-columns: 1fr 1fr;
}

.email-form { width: 100%;}

.form-group {margin-bottom: 1.5rem;}

.form-input {
    width: 800px; 
    height: 30px;
    font-size: 22px; 
    padding: 16px;
    border-radius: 15px; 
    border: 3px solid #6F96D1;
    background: transparent; 
}

.form-input::placeholder {color: #3C3C3C;}

textarea.form-input {
    min-height: 150px; resize: vertical;
}

.submit-btn {
    width: 150px;  
    height: 50px;
    margin-left: 950px; 
    margin-top: -120px;
    padding: 10px 20px; 
    font-size: 17px; 
    border: none; 
    border-radius: 10px;
    cursor: pointer; position: relative; 
    color: white; background-color: #6F96D1; transition: background-color 0.3s ease; 
}
  
.submit-btn:hover {
    box-shadow: 8px 8px 16px #5B73A8, -8px -8px 16px #5B73A8; /* Bayangan lebih kecil */
    transform: scale(0.98); /* Sedikit mengecilkan tombol */
}

.logo-web { 
    flex-basis: 1000px; 
    display: flex; 
    justify-content: center;  
    align-items: center; 
    transform: scale(5); 
} 
 
.logo-web img { 
    max-width: 100%;  height: auto; 
    margin-right: 60px; margin-bottom: 15px;
    border-radius: 10px; object-fit: contain; 
}

.box-bawah {
    width: 1200px;  
    padding: 20px 30px; 
    border-radius: 40px 40px 0 0; 
    background-color: #D0E4FF; 
}

.box-bawah h2 {
    font-size: 25px;  font-weight: bold;
    text-align: left;
    color: #ffffff; 
}

.box-bawah p {
    font-size: 25px; text-align: left;
    margin-left: 60px;
    color: #ffffff; 
} 

.icon-bawah { 
    display: flex; gap: 86px; 
    text-decoration: none;
} 
 
.icon-bawah img { 
    left: 600px; bottom: 55px; 
    font-size: 25px; position: relative; color: #fff; 
} 

